.bars-tag-list,
.rs-bars-tag-list,
.component-widget .tag-list {
  a.bars-tag-list-header {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: var(--heading-font-family);
    font-size: var(--font-up-2);
    font-weight: bold;
    color: var(--primary);
    transition: color 0.25s ease;

    &:hover,
    &:focus {
      color: var(--primary-low-mid);
    }
  }

  .bars-tag-items {
    list-style: none;
    margin-inline-start: 0;
    margin-block-start: 0;
    display: flex;
    flex-direction: column;
  }

  .bars-tag-list__other-tags-title {
    padding-block: 1rem;
    font-weight: bold;
  }

  .bars-tag-list__show-more {
    flex-basis: 100%;
    margin: 0.15rem;
  }
}
